/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 840px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.none {
  display: none !important;
}

.title-2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  text-align: left;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.979%, rgb(36, 43, 51)), color-stop(51.042%, rgba(45, 52, 60, 0.38)), color-stop(92.188%, rgb(36, 43, 51))), url(./../img/header/Rectangle.jpeg);
  background: linear-gradient(180deg, rgb(36, 43, 51) 11.979%, rgba(45, 52, 60, 0.38) 51.042%, rgb(36, 43, 51) 92.188%), url(./../img/header/Rectangle.jpeg);
  padding-top: 30px;
  padding-bottom: 71px;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  position: relative;
  padding-bottom: 121px;
  text-align: center;
  font-size: 48px;
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

nav {
  font-size: 14px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.info {
  position: relative;
  font-size: 18px;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}
.info--map::before {
  background-image: url(./../../img/header/placeholder.svg);
}
.info--tel::before {
  background-image: url(./../../img/header/phone-call.svg);
}

.benefits {
  padding: 150px 0px 150px 0px;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 53px;
}

.benefits__item-text {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}

.card {
  position: relative;
  display: inline-block;
}
.card::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.979%, rgb(36, 43, 51)), color-stop(51.042%, rgba(45, 52, 60, 0.38)), color-stop(92.188%, rgb(36, 43, 51)));
  background: linear-gradient(180deg, rgb(36, 43, 51) 11.979%, rgba(45, 52, 60, 0.38) 51.042%, rgb(36, 43, 51) 92.188%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #fff;
}
.card:hover::after {
  opacity: 1;
}

.card__title {
  position: absolute;
  left: 50px;
  top: 248px;
  font-size: 24px;
}