.apartments {
    position: relative;

    &::after {
        content: "III";
        position: absolute;
        font-family: $font-accent;

        font-size: 400px;
        opacity: 0.02;

        top: 0;
        right: calc(50% + 148px);
        transform: translate(-50%, 0%);
        line-height: 1.15;
    }
}

.apartments__title {
    margin-bottom: 88px;
}

.apartments__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}