.card {
    // z-index: 1;
    overflow:hidden;
    position: relative;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;

        background: linear-gradient(
            180deg,
            rgb(36, 43, 51) 11.979%,
            rgba(45, 52, 60, 0.38) 51.042%,
            rgb(36, 43, 51) 92.188%
        );
    }
    &::after{
        opacity: 0;
        content: "";

        position: absolute;
        left: 15px;
        top: 15px;
        right: 15px;
        bottom: 15px;

        border: 3px double rgba(255, 255, 255, 0.4);
        transition: opacity 0.2s ease-in;
    }
    &:hover {
        color:$white;
    }
    &:hover::after {
        opacity: 1;
        
    }
}
.card__img {
    // position: relative;
    // z-index: 1;
    transition: all 0.4s ease-in;
}
.card:hover .card__img {
    transform: scale(1.1);
    filter:contrast(110%) brightness(1.2) saturate(1.2);
}
.card__title {
    position: absolute;

    left: 50px;
    top: 248px;
    font-size: 24px;
}
