.cta {
    padding: 180px 0px 180px 0px;

    background: linear-gradient(
        180.00deg,
     rgb(36, 43, 51) 10.417%,
     rgba(36, 43, 51, 0) 50.521%,
    rgb(36, 43, 51) 90.104%),
    linear-gradient(0deg, rgba(57, 67, 78, 0.9), rgba(60, 72, 83, 0.9)),url('./../../img/cta/Rectangle.jpeg'),
}

.cta__title {
    margin-bottom: 17px;
}

.cta__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.cta__text {
    line-height: 1.5;
}

.cta__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;
}
