.cta {
    padding: 180px 0px 180px 0px;

    background: linear-gradient(
        180deg,
        $dark 10.42%,
        rgba(36, 43, 51, 0) 50.52%,
        $dark 90.1%
    ),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    url('./../../img/cta/Rectangle.jpeg'), #c4c4c4;
}

.cta__title {
    margin-bottom: 17px;
}

.cta__wrapper {
}

.cta__text {
}

.cta__forn {
}
