.form {
}
.form__inp {
  height: 50px;
  padding: 12px;

  font-size: 14px;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.2);
  color: $white;

  transition: background-color 0.2s ease-in;

  &::placeholder {
    color: $placeholder;
  }
  &:focus {
    background-color: rgb(255, 255, 255, 0.3);
  }
}
.form__privacy {
  color: $muted;
  font-size: 13px;
  text-align: center;
  line-height: 1.23; 
}
.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: $white;
  background-color: $accent;
  &:hover {
    background-color: saturate($accent, 20%);
  }
}
