
// font-family: "Raleway", sans-serif; основной текст.
// font-family: "Roboto", sans-serif; посредственный.
// font-family: "Playfair Display", serif; заголовки.

// Fonts/шрифты
$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-roboto: "Roboto", sans-serif;

// Colors/цвета
$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$fouter-bg:#2D343C;

